@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {

    font-family: "DotGothic16", sans-serif;
    background-color:white;

}

body {

    margin: 15px 160px;
}


#titulo {

    font-size: 45px;

}

.subtitulo {

    font-size: 25px;

}

.the_container {

    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container1 {

    width: 25%;    
    margin-bottom: 15%;

}

.container2 {

    width: 75%;
    margin-left: 70px;
    margin-right: 70px;

}

header{

    margin-bottom: 40px;
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;

}

.info2{

    justify-content: center;
    align-items: center;
    flex-direction: center;
    display: flex;


}


.info {

    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;

}

.info a {

    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;

}



.info i {

    vertical-align: middle;
}


.imagens img {

    border-radius: 50%;

}


.imagens #pn{

    margin-right:50px;
}

.imagens #pc {

    margin-right:50px;
    
}
.imagens #pn:hover{

    transition: 0.2s;
    box-shadow: 0 0 10px #57a0ff, 0 0 40px #57a0ff, 0 0 80px #57a0ff;

}

.imagens #pc:hover{


    transition: 0.2s;
    box-shadow: 0 0 10px #e1d078, 0 0 40px #e1d078, 0 0 80px #e1d078;
}

.imagens #ppl:hover{

    transition: 0.2s;
    box-shadow: 0 0 10px #312857, 0 0 40px #312857, 0 0 80px #312857;

}

.imagens a {

    text-decoration: none;

}

.imagens #avatar {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;

}

#avatar img {

    border-radius: 50%;

}

.list {

    display: flex;
    gap: 20px;

}

.container-hm{

    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ho {

    width: 50%;

}

.ha {

    width: 50%;

}
